.counter-wrapper {
  background: #7FB5FF; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0; 
}
.counter-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.counter-inner {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 30px; 
}
.main-container{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 30px 300px 20px 300px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease;
  animation: fadeIn 0.8s ease;
  margin-bottom: 20px;
}
.py-5.text-center.text-white {
  padding: 5px 40px;
}
.text{
  color: #000;
  font-weight: bolder;
  font-size: 18px;
}
.counter-icon1 {
  margin-left: 50px;
}
.counter-icon2 {
  margin-left: 35px;
}
.count {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .main-container {
    padding: 20px; 
  }
  .counter-wrapper {
    padding: 30px 0; 
  }
  .counter-icon1,
  .counter-icon2 {
    margin-left: 0;
  }
  img.counter-icon1, img.counter-icon2{
    margin-left: 40px;
 }
}
