.parent-container, .child-container{
  display: flex;
}
.parent-container{
  width: 100%;
  justify-content: center;
  gap: 15px; 
  margin-bottom: 20px;
  background-color: #C4DDFF; 
  padding: 20px;
}
.child-container{
  width: 30%;
  height: auto;
  gap: 10px;
  flex-direction: column;
}
.child-container img{
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px; 
}
.child-container img:hover{
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}
